@charset "utf-8";
/* CSS Document */

/*Jeg kæmpede med at lave en container i 2 timer, endte med at følge en liste fra w3schools, som ikke virkede, indtil jeg pastede direkte. Jeg hader computere og hvordan de læser linjer.*/
ul {
  background-color: #1982C4;
  top:0px;
	left:0px;
	width:100%;
	list-style-type:none;
	overflow:hidden;
	
  
}

 li {
  background-color: #f1f1f1;
  margin:0px;
	display:inline;
	padding:20px;
	 padding:left(60px);
	 height: 50px;
	 float:left;
	 text-align:center;	
	 transform: skew(-20deg);
}
li a {
	font-family: marshmallow-script,sans-serif;
	fontsize:100px;
	color:beige;
}
.headings {
	font-family: "Segoe UI", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	position: relative;
	
}
.li1 {
	left:-20px;
	background-color:#1982C4;
	width:16%;
}
.li2 {
	background-color:#8AC926;
	width:16%;
}
.li3 {
	background-color:#FF595E;
	width:16%;
}
.li4 {
	background-color:#FFCA3A;
	width:16%;
}
.li5 {
	background-color:#6A4C93;
	width:16%;
}